<% set_page_title 'All done' %>

<%= ui_content_container do %>
  <%= ui_content_section do %>
    <p>
      You've successfully attempted all cards. Come back later to try again.
    </p>
  <% end %>
<% end %>
