<% set_page_title 'Cards' %>

<%= ui_content_container do %>
  <%= ui_content_section do %>
    <ul>
      <% @cards.each do |card| %>
        <li><%= link_to card.question, card_path(card) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
