<% set_page_title 'Cards' %>

<div class="md:flex w-full max-w-lg">
  <ul class="list-disc">
    <% @cards.each do |card| %>
      <li class="pb-2"><%= link_to card.question, card_path(card) %></li>
    <% end %>
  </ul>
</div>
